html {
    position: relative;
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 100%;
    max-width: 250px;
    font-size: 16px;
}


    .sidebar .nav-link {
        padding: 8px 20px;
        display: block;
    }
.mb-4 {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .sidebar {
        width: 14%;
    }
}

.main-content {
    flex-grow: 1;
    margin: 20px 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.footer-section {
    border-top: 1px solid #e0e0e0;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar-brand {
    font-size: 1.25rem;
}

.btn-outline-light {
    padding: 0.25rem 0.5rem;
}

#toggleSidebar:focus,
#toggleSidebar:active {
    box-shadow: none;
}

.pagination {
    justify-content: flex-end;
    margin-right: 40px;
}

.contact-form {
    max-width: 600px;
    margin-left: 0;
    padding: 20px;
}

    .contact-form form {
        display: flex;
        flex-direction: column;
    }

    .contact-form .form-group {
        margin-bottom: 15px;
    }

    .contact-form label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .contact-form button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .contact-form button:hover {
            background-color: #0056b3;
        }

.footer-text {
    font-size: 12px;
}
#searchButton {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card {
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.card-title {
    font-size: 2.5em;
    color: #28a745;
}

.card-text {
    font-size: 3em;
    font-weight: bold;
}

.container {
    margin-top: 50px;
}
.form-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
label {
    display: block;
    margin-bottom: 8px; 
}

